@* Views/Partials/_Footer.cshtml *@
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Subscribe to our FM Practitioners Registry</h3>
                    <div class="subscribe-form">
                        <input type="email" placeholder="Enter email address" class="form-control" />
                        <button type="submit" class="btn btn-primary">SUBSCRIBE NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/images/sifma-logo-white.png" alt="SIFMA" class="footer-logo" />
                    <p>Singapore International Facility Management Association</p>
                </div>
                <div class="col-md-3">
                    <h4>Quicklinks</h4>
                    <ul class="footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/accreditation">Accreditation</a></li>
                        <li><a href="/membership">Membership</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/announcement">Announcement</a></li>
                        <li><a href="/knowledge">Knowledge</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-links">
                        <li><a href="/professional-development">Professional Development</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/tender">Tender</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/terms">T&Cs</a></li>
                        <li><a href="/pdpa">PDPA</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Social Media</h4>
                    <div class="social-links">
                        <a href="#" class="linkedin">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year SIFMA. ALL RIGHTS RESERVED.</p>
                </div>
                <div class="col-md-6 text-end">
                    <p>WEB DESIGN BY <a href="#">FIRSTCOM SOLUTIONS</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
