@* Views/Partials/_Header.cshtml *@
<header class="site-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/sifma-logo.png" alt="SIFMA Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/about-us">ABOUT US</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">ACCREDITATION</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/membership">MEMBERSHIP</a></li>
                    <li class="nav-item"><a class="nav-link" href="/events">EVENTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/announcement">ANNOUNCEMENT</a></li>
                    <li class="nav-item"><a class="nav-link" href="/knowledge">KNOWLEDGE</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">PROFESSIONAL DEVELOPMENT</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
