<?xml version="1.0" encoding="utf-8"?>
<Content Key="18caf615-917e-4ec8-9c27-906e1ea1010a" Alias=" Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-12-23T12:13:23</CreateDate>
    <NodeName Default=" Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <enableDarkMode>
      <Value><![CDATA[1]]></Value>
    </enableDarkMode>
  </Properties>
</Content>